body {
  font-family: 'Arial', sans-serif; 
}

.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 800px;
}

.page-title {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}
